<%= form_with model: @client do |form|%>
  <% if client.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
    <ul>
      <% client.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  
<div class="row mx-2">
  <div class="col-md-2 ">
    <%= form.label :name %>
  </div>
  <div class="col-md-4">
    <%= form.text_field :name, :class => "form-control", :required => true%>
  </div>
</div><br>

<div class="row mx-2">
  <div class="col-md-2 ">
    <%= form.label :mobile_no %>
  </div>
  <div class="col-md-4">
    <%= form.text_field :mobile_no, :class => "form-control", :required => true %>
  </div>
</div><br>

<div class="row mx-2">
  <div class="col-md-2 ">
    <%= form.label :company_name %>
  </div>
  <div class="col-md-4">
    <%= form.text_field :company_name, :class => "form-control", :required => true %>
  </div>
</div>

<%= form.submit %>

<% end %>